<header>
  <span><h1>Pokedex</h1></span>
  <span class="spacer"></span>
  <div>
    <a *ngIf="!isLogged; else viewLogout" mat-button routerLink="/login"
      >Login</a
    >
    <a *ngIf="!isLogged" mat-button routerLink="/signup">Register </a>
  </div>

  <ng-template #viewLogout>
    <a mat-button (click)="onLogout()">Logout</a>
  </ng-template>
</header>

<!-- <mat-toolbar color="primary">
  <ng-container *ngIf="!isUser; else viewUser">
    <span>My Pokedex</span>
    <span class="spacer"></span>
    <div>
      <a *ngIf="!isLogged; else viewLogout" mat-button routerLink="/login"
        >Login</a
      >
    </div>
  </ng-container>
</mat-toolbar>

<ng-template #viewLogout>
  <a mat-button (click)="onLogout()">Logout</a>
</ng-template>

<ng-template #viewUser>
  <button mat-icon-button (click)="onToggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>
</ng-template> -->
